<html>
<head>
    <title>Express HTML</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <style>
        .first {

        }
    </style>
</head>
<body>
<div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="/">Cocktails Test</a>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron"  style="padding:40px;">
        <h1>Ingredients</h1>
        <p>Choose an ingredient from list</p>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% for ingredient in ingredients %}
                <li{% if loop.first %} class="first"{% endif %}>
                {{ ingredient.name }} -  {{ ingredient.price }}
                </li>  <a class="btn btn-primary btn-sm" href="#" role="button">add</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</body>
</html>